body {
    margin: 1px;
    padding: 1px;
    background: #fff;
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    color: #000;
}

table, td {
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    color: #000;
}

h1 {
    font: 24px;
}

img {
    border: thin black solid;
}

#contentBox {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    color: black;
    background: #eee;
    border: thick #ccc solid;
}