<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<configuration debug="false">

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" warn="warn" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <logger name="org.apache" warn="warn" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <logger name="net.sf.ehcache" warn="warn" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <logger name="org.apache.shiro" warn="warn" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    <logger name="org.apache.shiro.util.ThreadContext" warn="warn" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <root level="error">
        <appender-ref ref="Console" />
    </root>

</configuration>
